.TD_Background
{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(105, 105, 105, 0.5);

    justify-content: center;
    align-items: center;
}

.Top_Dialog
{
    width: auto;
    height: auto;
}

.TD_Header
{
    background-color: wheat;
    color: dimgray;
    padding: 15px;
}

.TD_Body
{
    height: auto;
    width: auto;
    background-color: white;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.TD_BtnDialogCloss
{
    cursor: pointer;
    float: right;
    font-weight: bolder;
    margin-left: 25px;
}