html 
{
    height: 100%;
}
body
{
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

/* Menu */
.menu
{
    background-color: wheat;
    height: 50px;
    width: 100%;
    
    border-bottom-style:dotted;
    border-bottom-width: 5px;
    border-bottom-color: darkgrey;
}

.menu-item
{
    height: 46px;
    width: 46px;
    margin: 2px;
    background-size: cover;
}

.menu-left
{
    float: left;
}

.menu-right
{
    float: right;
}

/* Workspace */
.workspace
{
    display: grid ;

    grid-template-columns: 60.4px auto 300px;
    grid-template-rows: auto 20px;
    grid-template-areas: 
        "toolbar main-canvas property"
        "footer footer footer";

    width: 100%;
    height: calc(100% - 40px);
    overflow: hidden;
}

/* Toolbar vertical */
.toolbar-vertical
{
    grid-area: toolbar ;
    background-color: wheat;
    
    border-style: dotted;
    border-color: darkgray;
    border-width: 5px;

    position:relative;
}

.toolbar-item
{
    width: 46px;
    height: 46px;
    background-size: cover;
    margin: 2px;
}


.status-bar
{
    grid-area: footer;
    background-color: white;
    height: 100%;
    width: 100%;
}
#status_help_tip
{
    grid-area: footer;
    text-align: center;
    width: 100%;
}

