.property-bar
{
    grid-area: property;

    background-color: wheat;
    border-style:dashed;
    border-top: 0px;
    border-color: darkgrey;
    border-width: 5px;
}

.pd_title
{
    background-color: rgba(245, 245, 245, 0.63);
    color: dimgray;
    padding: 5px;
}

#pb_Property_bdy
{
    width: 100%;
    height: 100%;
    padding: 4px;
    overflow: auto;
}

#pb_Property_bdy *
{
    padding: 4px;
}